/* Background image */
.aboutusimg {
    margin-left: -9px;
    width: 101%;
    height: 400px;
}

.content {
    padding-bottom: 100px;
    padding-top: 20px;
    background: linear-gradient(135deg, #a0c4e0, #f0f0f0, #a0c4e0);
}

h1 {
    font-size: 36px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Center the text horizontally */
    color: #0077FF; /* Set the text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a text shadow for depth */
    margin-top: 10px; /* Add some top margin to separate it from the header */
}
